* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #B2A895;
    margin-bottom: 20px;
}

.input-container {
    width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 20px auto;
    background-color: white;
}

.input-container label {
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
}

.movies-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px;
    width: 900px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie-container {
    border: 2px solid rgb(114, 156, 114);
    text-align: center;
    transition: all 0.4s ease-in-out;
    margin: 10px;
    margin-bottom: auto;
   
}

.movie-container:hover {
    box-shadow: -1px 3px 10px 5px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    border: none;
}

.movie-image {
    height: 120px;
    width: 150px;
 
    background-size: 100% 100%;
   
    
}

.movie-title, .movie-year {
    margin: 10px;
}

